<!-- rules that create a new row -->
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

* {
  box-sizing: border-box;
}

  html {
      scroll-behavior: smooth;
    }

body {
  color: #161616;
}

a {
  color: #161616;
}

.visually-hidden {
  display: none;
}

.card-category {
  color: #D73953;
}

.section-tagline {
  color: #D73953;
}

:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

body,
a {
  color: var(--text-color);
}

.card-category,
.section-tagline {
  color: var(--color-primary);
}

:root {
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  body {
    font-family: var(--font-family-base);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-title);
  }

  :root {
   --font-size-small: 1.2rem;
   --font-size-medium: 1.6rem;
   --font-size-large: 1.8rem;
   --font-size-x-large: 2.3rem;
   --font-size-xx-large: 4.8rem;
  }

  html {
    font-size: 62.5%;

  }

  :root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    }
  
    body {
         font-weight: var(--font-weight-regular);
    }
  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-bold);
  }

  :root {
    --font-family-base: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  } 

  :root {
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
  }

  body {
    min-height: var(line-height-base);
  }

  a {
    text-decoration: none;
  }

  :root {
    --section-header-align: center;
  }
  
  .section-header {
    text-align: var(--section-header-align);
  }

  :root {
    --section-tagline-transform: uppercase;
  }
  
  .section-tagline {
    font-family: font-family-title;
    text-transform: var(--section-tagline-transform);
    font-weight: font-weight-bold;
  }

.container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    }

:root {
  --section-title-margin: 0;
  --section-title-color: color-black;
}

.section-title {
  font-family: font-family-title;
  font-size: font-size-xx-large;
  font-weight: font-weight-bold;
  margin: var(--section-title-margin);
  color: var(--section-title-color);
}

a[href]:link {
 }

a[href]:visited {
    font-style: italic;
}

a[href]:hover {
    text-decoration: underline;
}

a[href]:active {
   background-color: var(--color-light-grey);
}

:root{
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-body-padding: 0 0 3rem;
    --section-footer-padding: 3rem 0 0;
    --section-footer-align: center;
    --footer-padding: 5rem 0 1rem;
}

.section {
    padding: var(--section-padding);
  }
  
    .section-header {
    padding: var(--section-header-padding);
  }
  
    .section-body {
    padding: var(--section-body-padding);
  }
  
    .section-footer {
    padding: var(--section-footer-padding);
    text-align: var(--section-footer-align);
  }
  
    .footer {
    padding: var(--footer-padding);
  }

  .navbar-menu {
    float: right;
  }

  nav{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav.nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
  }

  nav.nav-link {
    display: block;
    padding: var(--nav-item-font-size) 1rem;
  }

  nav .nav-link:hover {
    color: var(--nav-item-link-hover);
  }

  :root {
    --nav-item-font-family: font-family-title;
    --nav-item-font-weight: font-weight-bold;
    --nav-item-font-size: font-size-medium;
    --nav-item-letter-spacing: 4%;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 calc(3 * var(--root-element)) 0;
    --nav-item-link-hover: color-primary;
  }

  /* Custom Properties */
:root {
    --section-tagline-margin: 0;
  }
  
   .section-tagline {
    margin: var(--section-tagline-margin);
  }
  
      margin: 0;
    padding: 0;
    list-style: none;
  }
  
    .col-1-3 {
    width: 33.33%;
    float: left;
    padding: calc(0.5 * var(--root-element));
  }
  
    .col-1-2 {
    width: 50%;
    float: left;
    padding: calc(0.5 * var(--root-element));
  }
  
    .footer-copyright {
    margin: 0;
    font-size: font-size-small;
    color: var(--text-color);
  }
  
    .footer ul {
    text-align: right;
  }
  
    :root {
    --section-tagline-margin: 0;
    --text-color: <your desired text color>;
    --root-element: <your desired root element size>;
    --font-size-small: <your desired small font size>;
  }

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: calc(0.5 * var(--root-padding));
}

.col-1-3 {
  /* Individual styles for col-1-3 */
  float: none;
  padding: 0;
}

.col-1-2 {
  /* Individual styles for col-1-2 */
  float: none;
  padding: 0;
}


.col-1-3,
.col-1-2 {
  /* remove these properties */
  float: none;
  padding: 0;
}

[data-section-theme="dark"] {
    --text-color: var(--color-white);
    --section-title-color: var(--color-white);
    background-color: var(--color-black);
  }
  
  .footer-address {
    color: var(--text-color);
  }
  
  .social-link {
    display: block;
  }
  
  .social-link svg {
    fill: var(--text-color);
  }
  
  .card-services .card-title {
    margin: 0;
  }
  
  .card-services a {
    display: block;
    padding: calc(2 * var(--root-element));
    background-color: var(--color-light-grey);
  }
  
  .card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
  }

  :root {
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
  }
  
  a:active + .button {
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
  }
  
  a:active + .button:hover {
    color: var(--button-hover-color);
    text-decoration: var(--button-hover-text-decoration);
    background: var(--button-hover-background);
  }
  
  [data-section-theme="dark"] {
    --button-color: var(--color-white);
  }

  .card-testimonial {
    text-align: center;
  }
  
  .card-testimonial .card-avatar {
    border-radius: 50%;
    width: calc(10 * var(--root-element));
    height: calc(10 * var(--root-element));
  }
  
  .card-testimonial card-quote cite {
    display: block;
    padding-top: calc(1 * var(--root-element));
    foreground: var(--color-primary);
  }
